@import "tailwindcss";

:root {
	/* Colors */
	--gray-100: hsl(210, 30%, 96%);
	--gray-500: hsl(221, 8%, 48%);
	--gray-700: hsl(220, 15%, 20%);

	/* Typography */
	--primary: "Geist", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	--mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

@theme {
	/* Colors */

	--color-gray-100: var(--gray-100);
	--color-gray-500: var(--gray-500);
	--color-gray-700: var(--gray-700);

	/* Typography */
	--font-primary: var(--primary);
	--font-secondary: var(--mono);
}

body {
	font-family: var(--primary);
	line-height: 1.2;
	min-width: 0;
	color: var(--gray-700);
}
